#Ignore environment folder
llamaPyEnv/

# Ignore model files/folders
models/

# Ignore log files
log/
logs_oct1/bugscanner.log  # example, if specific files are needed

# Ignore logger directory
logger/

# Ignore Python cache files
src/lens/__pycache__/
__pycache__/
*.pyc
*.pyo

# Ignore result files
result/

# Ignore report files
Report*

# Ignore specific lists or data
cvelistV5

sandbox/

data/
data_2/
result/
result_test_parser/

finetune/model/
