# Ignore environment folder
llamaPyEnv/

# Ignore model files/folders
models/

# Ignore log files
log/
logs_oct1/bugscanner.log  # example, if specific files are needed

# Ignore logger directory
logger/

# Ignore Python cache files
src/lens/__pycache__/
__pycache__/
*.pyc
*.pyo

# Ignore result files
result/

# Ignore report files
Report*

# Ignore specific lists or data
cvelistV5

sandbox/

data/
data_2/
result/
result_test_parser/

finetune/model/


result_nxcodes_k3/

finetune/FineTuning_dataset/Dataset/fine_tuning_data.jsonl
finetune/FineTuning_dataset/Dataset/train_dataset.json
finetune/FineTuning_dataset/Dataset/test_dataset.json

result_nxcodes_k3_beforeft/
sandbox/